body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#picture {
    width: 500px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 2.5rem;
    background-color: aliceblue;
}